# Accessing Data From The US Census

This notebook contains code to access data from the US Census' API. There are numerous datasets available ([*link*](https://www.census.gov/data/developers/data-sets.html)).

The **American Community Survey** (ACS, [*link*](https://www.census.gov/programs-surveys/acs)) contains various demographic data collected across the country. There are four versions of this survey based on the timeframe of the collected data (*1 to 5 years of data*) and the granularity of location (*city, state, ZIP Code*). The website offers guidelines for when to use which survey ([*link*](https://www.census.gov/programs-surveys/acs/guidance/estimates.html)).

The schedule for the release of the data is located [here](https://www.census.gov/programs-surveys/acs/news/data-releases/2020/release-schedule.html). As of March 12, 2022 the 2019 ACS was the most recent release, which does not account for the effects of the lockdowns. The 2020 survey is planned to be released on March 17, 2022.

The [examples](https://api.census.gov/data/2019/acs/acs5/examples.html) page contains the formatting necessary to make calls and lists the geographic area of data that is available.

In [1]:
# Import the necessary libraries
import pandas as pd
import geopandas as gpd
import numpy as np
import requests
import json
from datetime import date
import os
from tqdm import tqdm
from sodapy import Socrata

## I. A Function To Get State Level Data
https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=state:01


You must match the zipcode with the [state code](https://api.census.gov/data/2019/acs/acs1?get=NAME&for=state:*) in order to get the data.

For instance *36* is the code for NY.

In [2]:
#A function for the API call
# https://www.w3schools.com/python/ref_requests_response.asp

def obtain_census_data(year, codes, state):
    state_code_url = 'https://api.census.gov/data/{}/acs/acs1?get=NAME,{}&for=state:{}'.format(year, codes, state)
    state_code_content = requests.get(state_code_url).json()
    return state_code_content

In [3]:
# An example call for median income
obtain_census_data(year = '2019', codes = 'B19326_001E', state = '36')

[['NAME', 'B19326_001E', 'state'], ['New York', '36165', '36']]

The survey's variable list is [here](https://api.census.gov/data/2019/acs/acs1/variables.html), the variable codes are not always the same year to year and survey version to survey version (*i.e. the 5 year and 1 year surveys*). There are over 31,000 variables in this dataset, loading and searching through them may take a while.

In [4]:
census_codes = {
    "Total_Pop": "B01001_001E",
    "Total_Pop_Male": "B01001_002E",
    "Total_Pop_Female": "B01001_026E",
    "Median_Age": "B01002_001E",
    "Median_Age_Male": "B01002_002E",
    "Median_Age_Female": "B01002_003E",
}

In [5]:
inv_census_codes = {v: k for k, v in census_codes.items()}

In [6]:
# An inverted dictionary
inv_census_codes

{'B01001_001E': 'Total_Pop',
 'B01001_002E': 'Total_Pop_Male',
 'B01001_026E': 'Total_Pop_Female',
 'B01002_001E': 'Median_Age',
 'B01002_002E': 'Median_Age_Male',
 'B01002_003E': 'Median_Age_Female'}

In [7]:
#Inverts the dictionary so the columns can be renamed, add keys from the forthcoming index dictionary to this dictionary
inv_census_codes = {v: k for k, v in census_codes.items()}
# inv_census_codes.update({'District_Name':'District_Name', 'CD': 'CD', 'State_Id': 'State_Id','State': 'State', 'CD_Id_Year': 'CD_Id_Year'})

#Creates a string of codes to be used in the API call
columns_url = ''

for key in census_codes:
    columns_url += census_codes[key] + ','
    
columns_url = columns_url[:-1]

In [8]:
obtain_census_data(year = '2019', codes = columns_url, state = '36')

[['NAME',
  'B01001_001E',
  'B01001_002E',
  'B01001_026E',
  'B01002_001E',
  'B01002_002E',
  'B01002_003E',
  'state'],
 ['New York', '19453561', '9450810', '10002751', '39.2', '37.6', '40.8', '36']]

In [9]:
# https://api.census.gov/data/{}/acs/acs1?get=NAME,{}&for=state:{}
# https://support.socrata.com/hc/en-us/articles/360051168614-US-Census-Gateway-Plugin

In [10]:
all_states_census_raw = obtain_census_data(year = '2019', codes = columns_url, state = '*')

In [11]:
# The first list is the columns
all_states_census_raw[0]

['NAME',
 'B01001_001E',
 'B01001_002E',
 'B01001_026E',
 'B01002_001E',
 'B01002_002E',
 'B01002_003E',
 'state']

In [12]:
# We can reverse the codes so the Data Frame's columns will be easy to read
columns = [inv_census_codes.get(item,item)  for item in all_states_census_raw[0]]

In [13]:
all_states_census_df = pd.DataFrame(all_states_census_raw[1:],columns = columns)

In [14]:
all_states_census_df.head()

,NAME,Total_Pop,Total_Pop_Male,Total_Pop_Female,Median_Age,Median_Age_Male,Median_Age_Female,state
0,Mississippi,2976149,1434957,1541192,38.3,36.9,39.5,28
1,Missouri,6137428,3008169,3129259,38.9,37.6,40.2,29
2,Montana,1068778,537170,531608,40.5,39.3,41.7,30
3,Nebraska,1934408,966650,967758,36.8,35.7,37.8,31
4,Nevada,3080156,1544779,1535377,38.4,37.6,39.0,32

## I.B Load the Geo Files

-https://www.census.gov/geographies/mapping-files/time-series/geo/carto-boundary-file.html

In [15]:
shp_file = gpd.read_file('us_map_data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp')

In [16]:
shp_file

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169..."
5,22,01629543,0400000US22,22,LA,Louisiana,00,111897594374,23753621895,"MULTIPOLYGON (((-88.86770 29.86155, -88.86566 ..."
6,26,01779789,0400000US26,26,MI,Michigan,00,146600952990,103885855702,"MULTIPOLYGON (((-83.19159 42.03537, -83.18993 ..."
7,25,00606926,0400000US25,25,MA,Massachusetts,00,20205125364,7129925486,"MULTIPOLYGON (((-70.23405 41.28565, -70.22361 ..."
8,16,01779783,0400000US16,16,ID,Idaho,00,214049787659,2391722557,"POLYGON ((-117.24267 44.39655, -117.23484 44.3..."
9,12,00294478,0400000US12,12,FL,Florida,00,138949136250,31361101223,"MULTIPOLYGON (((-80.17628 25.52505, -80.17395 ..."
10,31,01779792,0400000US31,31,NE,Nebraska,00,198956658395,1371829134,"POLYGON ((-104.05342 41.17054, -104.05324 41.1..."
11,53,01779804,0400000US53,53,WA,Washington,00,172112588220,12559278850,"MULTIPOLYGON (((-122.57039 48.53785, -122.5686..."
12,35,00897535,0400000US35,35,NM,New Mexico,00,314196306401,728776523,"POLYGON ((-109.05017 31.48000, -109.04984 31.4..."
13,72,01779808,0400000US72,72,PR,Puerto Rico,00,8868896030,4922382562,"MULTIPOLYGON (((-65.23805 18.32167, -65.23467 ..."
14,46,01785534,0400000US46,46,SD,South Dakota,00,196346981786,3382720225,"POLYGON ((-104.05788 44.99761, -104.05078 44.9..."
15,48,01779801,0400000US48,48,TX,Texas,00,676653171537,19006305260,"MULTIPOLYGON (((-94.71830 29.72885, -94.71721 ..."
16,06,01779778,0400000US06,06,CA,California,00,403503931312,20463871877,"MULTIPOLYGON (((-118.60442 33.47855, -118.5987..."
17,01,01779775,0400000US01,01,AL,Alabama,00,131174048583,4593327154,"MULTIPOLYGON (((-88.05338 30.50699, -88.05109 ..."
18,13,01705317,0400000US13,13,GA,Georgia,00,149482048342,4422936154,"MULTIPOLYGON (((-81.27939 31.30792, -81.27716 ..."
19,42,01779798,0400000US42,42,PA,Pennsylvania,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51909 40.921..."
20,29,01779791,0400000US29,29,MO,Missouri,00,178050802184,2489425460,"POLYGON ((-95.77355 40.57820, -95.76853 40.583..."
21,08,01779779,0400000US08,08,CO,Colorado,00,268422891711,1181621593,"POLYGON ((-109.06025 38.59933, -109.05954 38.7..."
22,49,01455989,0400000US49,49,UT,Utah,00,212886221680,6998824394,"POLYGON ((-114.05296 37.59278, -114.05247 37.6..."
23,47,01325873,0400000US47,47,TN,Tennessee,00,106802728188,2350123465,"POLYGON ((-90.31030 35.00429, -90.30988 35.009..."
24,56,01779807,0400000US56,56,WY,Wyoming,00,251458544898,1867670745,"POLYGON ((-111.05456 45.00095, -111.04507 45.0..."
25,36,01779796,0400000US36,36,NY,New York,00,122049149763,19246994695,"MULTIPOLYGON (((-72.03683 41.24984, -72.03496 ..."
26,20,00481813,0400000US20,20,KS,Kansas,00,211755344060,1344141205,"POLYGON ((-102.05174 40.00308, -101.91670 40.0..."
27,02,01785533,0400000US02,02,AK,Alaska,00,1478839695958,245481577452,"MULTIPOLYGON (((179.48246 51.98283, 179.48656 ..."
28,32,01779793,0400000US32,32,NV,Nevada,00,284329506470,2047206072,"POLYGON ((-120.00574 39.22866, -120.00559 39.2..."
29,17,01779784,0400000US17,17,IL,Illinois,00,143780567633,6214824948,"POLYGON ((-91.51297 40.18106, -91.51107 40.188..."
30,50,01779802,0400000US50,50,VT,Vermont,00,23874175944,1030416650,"POLYGON ((-73.43774 44.04501, -73.43199 44.063..."
31,30,00767982,0400000US30,30,MT,Montana,00,376962738765,3869208832,"POLYGON ((-116.04914 48.50205, -116.04913 48.5..."
32,19,01779785,0400000US19,19,IA,Iowa,00,144661267977,1084180812,"POLYGON ((-96.63970 42.73707, -96.63589 42.741..."
33,45,01779799,0400000US45,45,SC,South Carolina,00,77864918488,5075218778,"MULTIPOLYGON (((-79.50795 33.02008, -79.50713 ..."
34,33,01779794,0400000US33,33,NH,New Hampshire,00,23189413166,1026675248,"MULTIPOLYGON (((-70.61702 42.97718, -70.61529 ..."
35,04,01779777,0400000US04,04,AZ,Arizona,00,294198551143,1027337603,"POLYGON ((-114.81629 32.50804, -114.81432 32.5..."
36,11,01702382,0400000US11,11,DC,District of Columbia,00,158340391,18687198,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."
37,60,01802701,0400000US60,60,AS,American Samoa,00,197759063,1307243754,"MULTIPOLYGON (((-168.14582 -14.54791, -168.145..."
38,78,01802710,0400000US78,78,VI,United States Virgin Islands,00,348021896,1550236201,"MULTIPOLYGON (((-64.62799 17.78933, -64.62717 ..."
39,34,01779795,0400000US34,34,NJ,New Jersey,00,19047825980,3544860246,"POLYGON ((-75.55910 39.62906, -75.55945 39.629..."
40,24,01714934,0400000US24,24,MD,Maryland,00,25151100280,6979966958,"MULTIPOLYGON (((-76.05015 37.98691, -76.04998 ..."
41,23,01779787,0400000US23,23,ME,Maine,00,79887426037,11746549764,"MULTIPOLYGON (((-67.35580 44.64226, -67.35437 ..."
42,15,01779782,0400000US15,15,HI,Hawaii,00,16633990195,11777809026,"MULTIPOLYGON (((-156.06076 19.73055, -156.0566..."
43,10,01779781,0400000US10,10,DE,Delaware,00,5045925646,1399985648,"MULTIPOLYGON (((-75.56555 39.51485, -75.56174 ..."
44,66,01802705,0400000US66,66,GU,Guam,00,543555840,934337453,"MULTIPOLYGON (((144.64538 13.23627, 144.64716 ..."
45,69,01779809,0400000US69,69,MP,Commonwealth of the Northern Mariana Islands,00,472292529,4644252461,"MULTIPOLYGON (((146.05103 16.00674, 146.05167 ..."
46,44,01219835,0400000US44,44,RI,Rhode Island,00,2677779902,1323670487,"MULTIPOLYGON (((-71.28802 41.64558, -71.28647 ..."
47,21,01779786,0400000US21,21,KY,Kentucky,00,102279490672,2375337755,"MULTIPOLYGON (((-89.40565 36.52817, -89.39869 ..."
48,39,01085497,0400000US39,39,OH,Ohio,00,105828882568,10268850702,"MULTIPOLYGON (((-82.73571 41.60336, -82.73392 ..."
49,55,01779806,0400000US55,55,WI,Wisconsin,00,140290039723,29344951758,"MULTIPOLYGON (((-86.95617 45.35549, -86.95463 ..."
50,41,01155107,0400000US41,41,OR,Oregon,00,248606993270,6192386935,"MULTIPOLYGON (((-123.59892 46.25145, -123.5984..."
51,38,01779797,0400000US38,38,ND,North Dakota,00,178707534813,4403267548,"POLYGON ((-104.04868 48.86378, -104.04865 48.8..."
52,05,00068085,0400000US05,05,AR,Arkansas,00,134768872727,2962859592,"POLYGON ((-94.61783 36.49941, -94.61765 36.499..."
53,18,00448508,0400000US18,18,IN,Indiana,00,92789302676,1538002829,"POLYGON ((-88.09776 37.90403, -88.09448 37.905..."
54,27,00662849,0400000US27,27,MN,Minnesota,00,206228939448,18945217189,"MULTIPOLYGON (((-89.59206 47.96668, -89.59147 ..."
55,09,01779780,0400000US09,09,CT,Connecticut,00,12542497068,1815617571,"MULTIPOLYGON (((-72.76143 41.24233, -72.75973 ..."